@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.pb-safe {
    padding-bottom: env(safe-area-inset-bottom, 20px);
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}